{% extends 'base/base.html' %} //parte dos arquivos estaticos e navebar
{% load static %}
{% block title %}Python Pro - Aperitivos{% endblock title %} //titulo que aparece do lado do favicon, esse "block title" esta dentro de base.html, toda pagina alteramos
{% block description %}Página com todos vídeos gratuítos{% endblock description %} //descrição da pagina , aparece quando vc inspeciona o html da pagina
{% block body %} <!--o que vem acima do "block body" é o cabeçalho, o que vem abaixo do "endblock body" é o rodapé, e no meio dos dois, é o conteudo da pagina-->

<!--esse html ira numerar a quantidade de vídeos que tem dentro de lista-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">Lista de Vídeos Aperitivos</h1>
            <ol>  <!--essa tag é de listas ordenadas-->
                {% for video in videos %} <!--vai pegar a lista de videos e distrinchar-->
                <!--essa tag abaixo é um list item-->
                <li><a href="{{ video.get_absolute_url }}">{{ video.titulo | default:"Faltando Título" }}</a></li> <!-- esse código "{{ video.get_absolute_url }}" esta direcionando para o video desejado escolido a partir no link, e direcionando para video.html ."video.titulo" esta transformando os nomes dos videos em links e enumerando também. Se o video não tiver nome irá imprimir a msg "Faltando Título"-->
                {% empty %}   <!--uma excessão, caso não tenha o video, ira aparecer a msg abaixo-->
                <li>Não foi encontrado nenhum video</li> <!--essa msg irá aparecer se não tiver videos dentro de indice.html-->
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

{% endblock body %} //"body" é a parte do rodapé da pagina
