{% extends 'base/base.html' %} <!--parte dos arquivos estaticos e navebar-->
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %} <!--titulo que aparece do lado do favicon-->
{% block description %}Página com video gratuito de Python{% endblock description %} <!--descrição da pagina , aparece quando vc inspeciona o html da pagina-->
{% block body %}
<!--esse código abaixo é responsavel pelo breadcrumb, ou seja praticamente ele indica o modulo e a aula que vc esta assistindo, no canto superior esquerdo-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="{{aula.modulo.get_absolute_url}}">{{aula.modulo.titulo}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{aula.titulo}}</li>
  </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 class="mt-4 mb-3">{{ aula.titulo | default:"Faltando Título" }}</h1> <!--se por acaso esquecer de colocar o titulo , acima do aula, irá aparecer a msg "Faltando Título"-->
            <!--com esse código baixo iremos adicionar os videos na página, através do banco de dados-->
            <iframe src="https://player.vimeo.com/video/{{ aula.vimeo_id }}"
                    width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen title="Aula 01 - MOTIVAÇÃO — Curso de PYTHON GRÁTIS.mp4"></iframe>
        </div>
    </div>

</div>

{% endblock body %} <!--o "body" é a parte do rodapé da pagina-->
