{% extends 'base/base.html' %} //parte dos arquivos estaticos e navebar
{% load static %}
{% block title %}{{modulo.titulo}}{% endblock title %} //titulo que aparece do lado do favicon, esse tipo(block title) fica dentro de base.html e alteramos ele aqui
{% block description %}Página com detalhes do módulo {{modulo.titulo}}{% endblock description %} //descrição da pagina , aparece quando vc inspeciona o html da pagina
{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--a diferença desse html para o indice.html é que aqui ele mostra o módulo individualmente, agora o outro mostra todos os módulos juntos-->
<!--essa pagina é ligada ao modulo test_modulo_detalhe-->
            <h1 class="mt-4 mb-3">{{ modulo.titulo }}</h1>
           <dl>                                <!--tag dl uma lista de descrição de parametros-->
               <dt>Público</dt>                <!--dt é o titulo do dado que vamos descrever-->
               <dd>{{ modulo.publico }}</dd>   <!--e a descrição do dado  com a tag dd-->
               <dt>Descrição</dt>
               <dd>{{ modulo.descricao}}</dd>
           </dl>
            <h2>Aulas</h2>
            <ol>       <!--é uma tag de listas ordenadas-->
                {% for aula in aulas %}  <!--separando as aulas uma por uma-->
                <li><a href=" {{ aula.get_absolute_url }} ">{{ aula.titulo }}</a></li>  <!--essa parte do href=" {{ aula.get_absolute_url }} "é referente aos links dos videos, que clicando direciona para o video. {{ aula.titulo }}é o texto do link-->
                     <!--e acima é uma tag (li) de item da lista-->
                {% endfor %}
            </ol>
        </div>
    </div>
    </div>
<br>
<br>
<br>
<br>





{% endblock body %} // "body" é a parte do rodapé da pagina