{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">


				<h2>
					Curso de Python com Luciano Ramalho
				</h2>

				<h4 class="mt-4">Matrículas abertas! Custo R$ 1000,00</h4>

				<script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
						data-preference-id="206059135-5626a7c7-2738-4648-b956-4032b7260136"
						data-source="button"></script>
				<!--
                                <h4 class="mt-4">Entre na fila de espera</h4>
                                 <form action="https"https://herokuapp.us9.list-manage.com/subscribe/post?u=3f4d10bfb810339fc1da2784f&amp;id=151f52a2c3&amp;f_id=004429e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_blank" novalidate>
                  <div class="form-row align-items-center">
                                     <div class="col-auto float-start me-3">
                    <label class="sr-only" for="mce-EMAIL">Email</label>
                    <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
                  </div>
                  <div class="col-auto float-start me-3">
                    <label class="sr-only" for="mce-FNAME">Nome</label>
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu Nome">
                  </div>


                                     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3f4d10bfb810339fc1da2784f_151f52a2c3" tabindex="-1" value=""></div>

                  <div class="col-auto pt-4">
                      <input type="submit" value="Salvar" name="salvar" id="mc-embedded-subscribe" class="btn btn-primary">
                  </div>
                  </div>
                </form>
                -->

			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes do instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src=" {% static 'img/luciano-ramalho.png' %}" alt="foto de Luciano Ramalho"
									 class="img-thumbnail float-left mr-3"/>
								Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e
								autor do Livro <a
									href="https://www.amazon.com.br/Pense-Python-Como-Cientista-Computa%C3%A7%C3%A3o/dp/8575225081/ref=asc_df_8575225081/?tag=googleshopp00-20&linkCode=df0&hvadid=379792215563&hvpos=&hvnetw=g&hvrand=6323878784729963558&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001773&hvtargid=pla-812887615377&psc=1"
									target="_blank">Python Fluente</a>. Foi diretor técnico do Brasil Online, primeiro
								portal da Abril S/A na Web. Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil
								e outros, usando Python desde 1998. Como instrutor, atendeu clientes como Citibank,
								CPqD, Serpro, Presidência da República, Globo.com e Itaú. Palestrante em eventos
								internacionais como FISL, PyCon US e OSCON. Ajudou a criar a Associação Python Brasil e
								foi seu presidente. É membro da Python Software Foundation e fundador do Garoa Hacker
								Clube, o primeiro hackerspace do Brasil.

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock body %}